[submodule "lib/librrf"]
	path = lib/librrf
	url = https://github.com/Duet3D/RRFLibraries.git
[submodule "lib/qoi"]
	path = lib/qoi
	url = https://github.com/Wojimus/qoi
[submodule "lib/base64"]
	path = lib/base64
	url = https://github.com/Wojimus/base64
[submodule "lib/RRFLibraries"]
	path = lib/RRFLibraries
	url = https://github.com/Wojimus/RRFLibraries
